.carousel {
    display: flex;
    width: 100%;
    padding: 20px;
    height: 40vh;
}

.carousel_left {
    width: 40%;
    padding-top: 20px;
}

.carousel_image {
    width: 50%;
    margin-left: 10px ;
}

.carousel_title {
    color: #FA7413;
    font-family: 'Abel', sans-serif;
}

.carousel_description {
    color: white;
    margin: 15px 0 15px 0;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
}

.cta-buttons {
    color: white;
    background-color: #FA7413;
    border-radius: 6px;
    border: none;
    width: 7em;
    height: 25px;
    font-weight: bold;
    animation: outlineblink 1s linear infinite;
    cursor: pointer;
}

@keyframes outlineblink {
    10% {
      outline: none;
    }
    30% {
      outline: 2px solid #e66407;
    }
    100% {
      outline: none;
    }
  }