.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #004B75;
    height: 50px;
  }

 .navbar_logo img {
    height: 70px;
} 

  .navbar_menu-button {
    border: none;
    background-color: transparent;
    /* color: #dcd4d4; */
    font-weight: bold;

  }

  .menu {
    height: 40px;
  }