* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.Home_carrousel {
   background-image: url("../public/Rectangle\.png");
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 50vh;

}
